.color1 {
    color: #140f07;
}

.color2 {
    color: #202d4e;
}

.color3 {
    color: #585fa6;
}

.color4 {
    color: #9e9cf9;
}

.color5 {
    color: #ffe5f4;
}
/*
*{
    border: 1px solid red;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202d4e;
    color: white;
}

/*contenedor general*/
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo {
    font-size: 40px;
    text-decoration: line-through;
    text-decoration-color: #585fa6;
}


/*tablero general*/
.rayas {
    display: grid;
    max-width: 600px;
    gap: 5px;
    background-color: #ffe5f4;
    /*color para el gap*/

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    border: 5px solid #585fa6;
    border-radius: 5px;

    margin-top: 10px;
}

/*cuadritos de dentro jugables*/
.rayas>div {
    background-color: #9e9cf9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
}

/*----reset----*/
button {
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    width: 100px;
}


/*----/intrucciones----*/
/*contenedor para centrar todo bien*/
.centrado-instrucciones {
    display: grid;
    place-items: center;
}

/*contenedor donde esta toda la data*/
.flex-instrucciones {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
    max-width: 310px;
}

/*mini tablero*/
.instrucciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: #ffe5f4;
    /*color para el gap*/

    padding: 5px;
    border: 5px solid #585fa6;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
}

/*casillas explicativas*/
.instrucciones>div {
    width: 80px;
    height: 80px;
    background-color: #9e9cf9;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.instrucciones>div>h4 {
    color: #202d4e;
}

.flex-instrucciones>p {
    margin-top: 0px;
    padding: 20px;
    grid-column: 2;
    grid-row: 3;
}

.tituloInstrucciones {
    grid-column: 2;
    grid-row: 1;
}

/*----/intrucciones----*/

/*---laderborard----*/

.laderboard-center{
    display: grid;
    place-items: center;
}

.laderboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 2fr;
    gap: 10px;
    background-color: #ffe5f4;
    /*color para el gap*/

    padding: 5px;
    border: 5px solid #585fa6;
    border-radius: 5px;

}

.laderboard>div{
    background-color: #9e9cf9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#marcador1,
#marcador2{
    font-size: 30px;
    color: #202d4e;
}

.laderboard>div>*{
    color: #202d4e;
    padding: 5px;
}



/*---/laderborard----*/

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

@media (max-width:600px) {
   
}

/*--barras--*/

.arriba {
    width: 90px;
    height: 10px;
    background-color: #202d4e;
    transform: rotate(45deg);
    position: absolute;
}

.abajo {
    width: 90px;
    height: 10px;
    background-color: #202d4e;
    transform: rotate(-45deg);
    position: absolute;

}

/*--/barras--*/

/*--circulo--*/

.circulo {
    width: 80px;
    height: 80px;

    border-radius: 100%;
    background: #202d4e;
    position: absolute;
}

.circulo2 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #9e9cf9;
    position: absolute;
}

/*--/circulo--*/